<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mealkit.category.mapper.CategoryMapper">

	<insert id="insertCategory" parameterType="co.yedam.mealkit.category.service.CategoryVO">
		INSERT INTO CATEGORY
		VALUES (#{categoryId},#{categoryName})
	</insert>
	
	<select id="categorySelectList" resultType="co.yedam.mealkit.category.service.CategoryVO">
		SELECT * 
		FROM CATEGORY
		ORDER BY CATEGORY_ID
	</select>
	<select id="categorySelect" resultType="co.yedam.mealkit.category.service.CategoryVO">
		SELECT * FROM 
		CATEGORY 
		WHERE CATEGORY_ID = #{categoryId}
	</select>
</mapper>