<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mealkit.product.mapper.ProductMapper">	
	<select id="productSelectList" resultType="co.yedam.mealkit.product.service.ProductVO">
		SELECT * FROM product
	</select>
	
	<select id="productSelectList2" resultType="co.yedam.mealkit.product.service.ProductVO">
		SELECT PRODUCT_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_DATE, PRODUCT_STOCK
		FROM PRODUCT
		ORDER BY PRODUCT_STOCK ASC
	</select>
	
	<select id="productSearchList" resultType="co.yedam.mealkit.product.service.ProductVO">
		SELECT * FROM PRODUCT JOIN CATEGORY USING (CATEGORY_ID)
		<if test="key == 'category'">WHERE CATEGORY_NAME LIKE '%' || #{val} || '%'</if>
		<if test="key == 'name'">WHERE PRODUCT_NAME LIKE '%' || #{val} || '%'</if>
		<if test="key == 'comment'">WHERE PRODUCT_COMMENT LIKE '%' || #{val} || '%'</if>
	</select>
	
	<select id="productSelect" resultType="co.yedam.mealkit.product.service.ProductVO">
		SELECT * FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</select>
	
	<insert id="productInsert" parameterType="co.yedam.mealkit.product.service.ProductVO">
		<selectKey resultType="int" keyProperty="productId" order="BEFORE">
			SELECT CASE WHEN MAX(product_id) IS NULL THEN 1
    					ELSE MAX(product_id)+1 END AS PRODUCTID FROM PRODUCT
		</selectKey>
		INSERT INTO product
		VALUES (#{productId},#{productName},#{productPrice},#{productComment},SYSDATE,#{categoryId},#{productImg},#{productStock})
	</insert>
	
	<update id="productUpdate" parameterType="co.yedam.mealkit.product.service.ProductVO">
		UPDATE PRODUCT
		<set>
			<if test="productName != null">PRODUCT_NAME = #{productName},</if>
			<if test="productPrice != 0">PRODUCT_PRICE = #{productPrice},</if>
			<if test="productComment != null">PRODUCT_COMMENT = #{productComment},</if>
			<if test="productImg != null">PRODUCT_IMG = #{productImg},</if>
			<if test="productStock != 0">PRODUCT_STOCK = #{productStock}</if>
		</set>
		WHERE PRODUCT_ID = #{productId}
	</update>
	
	<delete id="productDelete" parameterType="co.yedam.mealkit.product.service.ProductVO">
		DELETE FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</delete>
</mapper>