<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mealkit.stock.mapper.StockMapper">


	<select id="stockSelectList" resultType="co.yedam.mealkit.common.CamelHashMap">
		SELECT S.PRODUCT_ID, PRODUCT_NAME, STOCK_TYPE,  TO_CHAR(STOCK_DATE, 'YYYY-MM-DD') AS STOCK_DATE, STOCK_COUNT
		FROM STOCK S, PRODUCT P
		WHERE S.PRODUCT_ID = P.PRODUCT_ID
		<if test = "stockType == 'in'">AND STOCK_TYPE = #{stockType}</if>
		<if test = "stockType == 'out'">AND STOCK_TYPE = #{stockType}</if>
		ORDER BY STOCK_DATE DESC 
	</select>
	
	<insert id="insertStock" parameterType="co.yedam.mealkit.stock.service.StockVO">
	
		INSERT INTO STOCK
		VALUES (#{stockType},SYSDATE,#{productId},#{stockCount})
	</insert>

</mapper>