<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mealkit.shop.cart.mapper.CartMapper">
	<select id="cartSelectList" resultType="co.yedam.mealkit.common.CamelHashMap">
		SELECT c.*, p.* 
		FROM cart c, product p
  		<choose>
			<when test="memberId != null">
				WHERE member_id = #{memberId}
				AND c.product_id = p.product_id
			</when>
	  		<otherwise>
				WHERE c.product_id = p.product_id
	  		</otherwise>
  		</choose>
		ORDER BY c.cart_id DESC
	</select>

	<select id="cartSelect" resultType="co.yedam.mealkit.shop.cart.service.CartVO">
		SELECT * FROM cart 
  		<choose>
			<when test="memberId != null">
				WHERE member_id = #{memberId} AND product_id = #{productId}
			</when>
			<otherwise>
				WHERE cart_id = #{cartId}
			</otherwise>
		</choose>
	</select>
	
	<insert id="cartInsert" parameterType="co.yedam.mealkit.shop.cart.service.CartVO">
		<selectKey resultType="int" keyProperty="cartId" order="BEFORE">
			SELECT NVL(MAX(cart_id),0)+1 FROM cart
		</selectKey>
		
		INSERT INTO cart
		VALUES (#{cartId},#{cartCount},#{memberId},#{productId})
	</insert>
	
	<update id="cartUpdate" parameterType="co.yedam.mealkit.shop.cart.service.CartVO">
		UPDATE cart
		<set>
			<if test="cartCount != null and !cartCount.equals('')">cart_count = #{cartCount},</if>
		</set>
		WHERE cart_id = #{cartId}
	</update>
	
	<delete id="cartDelete" parameterType="co.yedam.mealkit.shop.cart.service.CartVO">
		DELETE FROM cart WHERE cart_id = #{cartId}
	</delete>
	
	<select id="cartSelectInList" resultType="co.yedam.mealkit.common.CamelHashMap" parameterType="java.util.List">
		SELECT * FROM cart, product 
		WHERE cart_id IN
		<foreach collection="list" item="item" open="(" close=")" separator=",">
		#{item}
		</foreach>
		AND cart.product_id = product.product_id
	</select>

</mapper>