<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mealkit.order.detail.mapper.OrderDetailMapper">
	
	<select id="orderDetailSelectList" resultType="co.yedam.mealkit.order.detail.service.OrderDetailVO">
		SELECT * FROM order_detail
		<if test="orderCode != null AND productId !=null AND !productId.equals('')">
		WHERE order_code = #{orderCode} AND product_id = #{productId}
		</if>
	</select>

	<insert id="orderDetailInsert" parameterType="co.yedam.mealkit.order.detail.service.OrderDetailVO">
		INSERT INTO order_detail
		VALUES (#{orderDetailCount},#{orderDetailPrice},#{productId},#{orderId})
	</insert>
	
	<update id="orderDetailUpdate" parameterType="co.yedam.mealkit.order.detail.service.OrderDetailVO">
		
	</update>
	
	<delete id="orderDetailDelete" parameterType="co.yedam.mealkit.order.detail.service.OrderDetailVO">
		<!-- 특정 작성자의 주문내역 (주문날짜-주문번호)에 대한 모든 데이터를 삭제-->
		DELETE FROM order_detail WHERE order_code = #{orderCode} AND product_id = #{productId}
	</delete>
</mapper>