<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mealkit.review.mapper.ReviewMapper">

	<select id="reviewSelectList" resultType="co.yedam.mealkit.review.service.ReviewVO">
		SELECT * FROM REVIEW
		ORDER BY REVIEW_ID, REVIEW_HIT DESC
	</select>
	
	<select id="reviewSelect" resultType="co.yedam.mealkit.review.service.ReviewVO">
		SELECT *
		FROM REVIEW WHERE REVIEW_ID = #{reviewId} 
	</select>
		
	<select id="reviewSelectProduct" resultType="co.yedam.mealkit.review.service.ReviewVO">
		SELECT * FROM REVIEW
		<if test="memberId != null"> WHERE MEMBER_ID = #{memberId}</if>
	</select>
	
	<select id="reviewSelectBestReview" resultType="co.yedam.mealkit.review.service.ReviewVO">
		SELECT *
		FROM REVIEW WHERE REVIEW_HIT >= 10
		ORDER BY REVIEW_HIT DESC
	</select>
	
	<insert id="reviewInsert" parameterType="co.yedam.mealkit.review.service.ReviewVO">
		<selectKey resultType="int" keyProperty="reviewId" order="BEFORE">
			SELECT CASE WHEN MAX(REVIEW_ID) IS NULL THEN 1
			ELSE MAX(REVIEW_ID) + 1 END AS reviewId FROM REVIEW 
		</selectKey>
		INSERT INTO REVIEW (REVIEW_ID, REVIEW_TITLE, REVIEW_SUBJECT, REVIEW_IMG, MEMBER_ID, PRODUCT_ID)
		VALUES (#{reviewId}, #{reviewTitle}, #{reviewSubject}, #{reviewImg}, #{memberId}, #{productId})
	</insert>
	
	<update id="reviewUpdateHit" parameterType="co.yedam.mealkit.review.service.ReviewVO">
		UPDATE REVIEW SET REVIEW_HIT = REVIEW_HIT + 1
		WHERE REVIEW_ID = #{reviewId}
	</update>
</mapper>