<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mealkit.review.mapper.ReviewMapper">

	<select id="reviewSelectList" resultType="co.yedam.mealkit.common.CamelHashMap">
		SELECT * FROM REVIEW 
		<if test="key == 'id'">WHERE MEMBER_ID LIKE '%' || #{val} || '%'</if>
		<if test="key == 'title'">WHERE REVIEW_TITLE LIKE '%' || #{val} || '%'</if>
		<if test="key == 'subject'">WHERE REVIEW_SUBJECT LIKE '%' || #{val} || '%'</if>
		ORDER BY REVIEW_ID
	</select>
		
		
	<select id="reviewSelectProduct" resultType="co.yedam.mealkit.review.service.ReviewVO">
		SELECT * FROM REVIEW WHERE PRODUCT_ID = ${productId}
		ORDER BY REVIEW_ID
	</select>
	
	<insert id="reviewInsert" parameterType="co.yedam.mealkit.review.service.ReviewVO">
		<selectKey resultType="int" keyProperty="reviewId" order="BEFORE">
			SELECT CASE WHEN MAX(REVIEW_ID) IS NULL THEN 1
			ELSE MAX(REVIEW_ID) + 1 END AS reviewId FROM REVIEW
		</selectKey>
		
		INSERT INTO REVIEW (REVIEW_ID, REVIEW_TITLE, REVIEW_SUBJECT, REVIEW_IMG, MEMBER_ID, PRODUCT_ID)
		VALUES (#{reviewId}, #{reviewTitle}, #{reviewSubject}, #{reviewImg}, #{memberId}, #{productId})
	</insert>
</mapper>