<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mealkit.address.mapper.AddressMapper">
	<select id="addressSelectList" resultType="co.yedam.mealkit.address.service.AddressVO">
		SELECT * FROM address
		<if test="memberId != null">
			WHERE member_id = #{memberId}
		</if>
	</select>
	
	<select id="addressSelect" resultType="co.yedam.mealkit.address.service.AddressVO">
		SELECT * FROM address
		WHERE member_id =#{memberId} AND address_zip = #{addressZip} AND address_detail = #{addressDetail}
	</select>
	
	<insert id="addressInsert" parameterType="co.yedam.mealkit.address.service.AddressVO">
		<selectKey resultType="int" keyProperty="addressId" order="BEFORE">
			SELECT NVL(MAX(address_id),0)+1 FROM address
		</selectKey>
		
		INSERT INTO address
		VALUES (#{addressId},#{addressZip},#{addressDetail},#{memberId},#{addressName})
	</insert>
	
</mapper>